{{- define "title" }}{{ .Title }} - {{ .Site.Title }}{{ end -}}

{{- define "content" -}}
    {{- $params := .Scratch.Get "params" -}}

<article class="page single">
    {{- /* Title */ -}}
    <h1 class="single-title animate__animated animate__flipInX">{{ .Title | emojify }}</h1>

    {{- /* Subtitle */ -}}
    {{- with $params.subtitle -}}
        <h2 class="single-subtitle">{{ . }}</h2>
    {{- end -}}

    {{- /* Content */ -}}
    <div class="content" id="content">
        {{- dict "Content" .Content "Ruby" $params.ruby "Fraction" $params.fraction "Fontawesome" $params.fontawesome | partial "function/content.html" | safeHTML -}}
    </div>

    <div>
        <h2>Publicaciones recientes en Sistemas de Automatización</h2>
        <div class="grid-container">
            {{ range ( where .Site.RegularPages "Type" "sistemas" | last 3) }}
            <div class="card">
                {{ $img := (.Resources.ByType "image").GetMatch "*featured*" }}
                {{ with $img }}
                    {{ $big := .Fill "1024x512 top" }}
                    {{ $small := $big.Resize "1000x" }}
                    <img src="{{ $small.RelPermalink }}" alt="{{ $img.Title }}" width="100%">
                {{ end }}            
                <a href="{{ .Permalink }}"><h2 class="card-title"> {{ .Title }}</h2></a> 
                <p class="card-description">
                    {{ .Description}} 
                </p>
            </div>
        
            {{end}}        
        </div>
    </div>


    {{- /* Footer */ -}}
    {{- partial "single/footer.html" . -}}

    {{- /* Comment */ -}}
    {{- partial "comment.html" . -}}

</article>

{{- end -}}